@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Inter", sans-serif;

}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;

}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;

}

.gap {
    gap: 20px;
}

.logo {
    margin: 10px;
}

li {
    font-size: 11px;
    font: 600;
    color: #4D4D4D;
}

button {
    background-color: #4CAF4F;
    border-radius: 2px;
    padding: 7px;
    font-size: 8px;
    border: none;
    color: white;
    font: 600;
}

.padding {
    padding: 30px;
}

span {
    color: #4CAF4F;
}

h1 {
    font-size: 40px;
    color: #4D4D4D;
}

.des {
    font-size: 10px;
    margin: 10px;
    color: #717171;
}

.bg {
    background-color: #F5F7FA;
}

.register-btn {
    margin: 7px;
    width: 60px;
    text-align: center;
}

.client {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #4D4D4D;
}

.client-des {
    color: #717171;
    font-size: 10px;
    margin: 10px;
    text-align: center;
}

.icon {
    margin: 30px;
}

.client-title {
    font-size: 20px;
    color: #4D4D4D;
}

.title {
    font-size: 25px;
    color: #4D4D4D;
    font-weight: 600;


}

.des-lorem {
    color: #717171;
    font-size: 10px;
    margin: 10px;
    text-align: left;
    align-items: center;
    justify-content: center;

}

.num {
    font-size: 19px;
    font-weight: 700;
    color: black;

}

.p-title {
    font-size: 10px;
    color: #717171;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 45%;
}

.small-title {
    font-size: 10px;
    color: #4CAF4F;
    font-weight: 600;
}

.customer-btn {
    background-color: #4CAF4F;
    border-radius: 2px;
    padding: 10px;
    font-size: 8px;
    border: none;
    color: white;
    font: 600;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading {
    font-size: 35px;
}

.demo-btn {
    margin: 10px;
}

.bg-black {
    background-color: #263238;

}
.footer-logo{
    padding: 5px;
}
.des-footer{
    color: #F5F7FA;
    font-size: 8px;
    font-weight: 300;
    padding: 2px;
    margin: 4px;
}
.footer-gap{
    gap: 5px;
    display: flex;
   
    
}
.footer-padding{
    padding: 5px;
}
.footer-btn{
    color: #F5F7FA;
    font-size: 7px;
    align-items: center;
    background-color: #4D4D4D;
    padding: 7px;
    gap:10px;
}
.social-icon{
   border-radius: 50%;
   background-color:#6b757a;  
   padding: 4px;
   
   
}
.social-icon , i {
    color: #F5F7FA;
    text-align: center;
   justify-content: center;
   align-items: center;
  font-size: 9px;
  
  
}

.box {
    padding: 10px;
    border-radius: 10px;
    background-color: #F5F7FA;
    height: 75px;
    width: 215px;

}

.sub-des {
    font-size: 11px;
    color: #717171;
    font-weight: 600;
    align-items: center;
}

.relative {
    position: relative;
    left: 20px;
    right: -20px;
}

.absolute {
    position: absolute;
    left: 20px;
    top: 150px;
}

.read-more {
    font-size: 11px;
    color: #4CAF4F;
    margin: 5px;

}
.read-more i{
    color: #4CAF4F;
}

.footer-title {
    color: #F5F7FA;
    font-weight: 600;
    font-size: 10px;
    padding: 6px;
}

.footer-subtitle {
    color: #F5F7FA;
    padding: 3px;
    font-size: 8px;
}

.input-btn {
    font-size: 8px;
    padding: 3px;
    background-color: #D9DBE1;
    border: none;
    border-radius: 5px;
  
}

@media screen and (max-width: 768px){
    .col-6{
       width: 100%;
    }
    .des-lorem{
        text-align: center;
    }
    .stats{
        width: 100%;
       align-items: center;
       justify-content: center;
       text-align: center;
      display: grid;
    }
    .col-4{
        width:100%;
        align-items:center;
        text-align: center;
        
    }
    .footer-gap{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 10px;
        
    }
   
    .social-icon ,i{
        gap:3px;
    }
    
    
}
.row {
    display: flex;
    gap: 20px;
}

.col-4 {
    width: 33.333%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.box {
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
    background: #f5f7fa;
    width: 85%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
@media (max-width: 992px) {
    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-4 {
        width: 48%;
        margin-bottom: 80px;
    }

    .title {
        font-size: 28px;
    }
}

.blog-row {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.blog-card {
    flex: 1;
    position: relative;
}

.blog-card img {
    width: 100%;
    border-radius: 10px;
}



@media (max-width: 992px) {
    .blog-row {
        flex-wrap: wrap;
    }

    .blog-card {
        flex: 0 0 48%;
        margin-bottom: 80px;
    }

    .title {
        font-size: 32px;
    }
}


@media (max-width: 576px) {
    .blog-row {
        flex-direction: column;
    }

    .blog-card {
        flex: 100%;
        margin-bottom: 100px;
    }

    .box {
        width: 90%;
        bottom: -70px;
    }

    .title {
        font-size: 26px;
    }

    .sub-des {
        font-size: 14px;
    }
}

    




